server {
        listen       {{ ansible_ens160.ipv4.address }}:{{ nginx_service_port }};
        root {{ wordpress_doc_root }};
 
	# Deny access to any files with a .php extension in the uploads directory
        location ~* /(?:uploads|files)/.*\.php$ {
                deny all;
        }
 
        location / {
                index index.php index.html index.htm;
                try_files $uri $uri/ /index.php?$args;
        }
 
        location ~* /wp-config.php {
                deny all;
        }
 
        location ~ \.php$ {
                try_files $uri =404;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_index index.php;
                fastcgi_pass  unix:/var/run/php-fpm/wordpress.sock;
                fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include       fastcgi_params;
        }
}
